.mainlogo {
    margin: 10px;
    width: 65px;
    height: 65px;
    border-radius: 5px;
}

.searchbar {
    width: 390px;
    height: 50px;
    border-radius: 5px;
    border-width: 1px;
    border-color: rgba(138, 138, 138, 0.533);
    background-color: white;
}

.likeicon {
    position: absolute;
  margin: 10px 10px 10px 20px;
}

.likeicon:hover {
  fill: rgb(255, 0, 0);
  cursor: pointer;
}

.likeiconfill {
  fill : rgb(255, 0, 0);
  margin: 10px 10px 10px 20px;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  transition: opacity 0.2s;
}

.likeiconfill:hover {
  opacity: 1;
  cursor: pointer;
}

.probutton {
  box-sizing: content-box;
  position: fixed;
  margin-left: 480px;
  left: auto;
  bottom: 105px;
  float: right;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: #00c3ff;
  color: rgb(0, 0, 0);
  text-align: center;
  font-size: 16px;
  cursor: pointer;
  border-style: solid;
  border-width: 2px;
  z-index: 100;
}
  

.probutton:hover {
    border-color: rgb(132, 0, 255);
}

.red {
    fill: red;
}

.center {
    margin: 0 auto;
}

.fadeBtnColor {
    background-color: rgb(185, 185, 185);
}

.itemName {
    width: 262px;
    margin: 0 auto;
    text-align: center;
    font-size: 1.5rem;
}

.sortingList {
    font-size: 1.4rem;
}

.likeListBtn {
    width: 40px;
    height: 30px;
    position: relative;
    display: inline-block;
}

.swiper-button-prev {
    --swiper-theme-color: rgb(50, 50, 50);
}

.swiper-button-next {
    --swiper-theme-color: rgb(50, 50, 50);
}

.swiper-pagination-bullet-active {
    --swiper-theme-color: rgb(50, 50, 50);
}