.mypagecontainer{
   padding-top:110px;
    display:flex;
    align-items: center;
    justify-content: center;
    margin-top:10px
}


  .update{
    margin-top:40px;
  }

  .input-group{
    width:320px;
  }

  .logout{
    margin-top: 20px;
    width:150px;
    margin-right:10px;
  }

  .deleteMember{
    width:150px;
  }