.infotext {
    margin-top: 40%;
}

.infotext2 {
    margin-top: 50px;
    color: rgb(95, 95, 95);
    font-size: smaller;
}

.infotext3 {
    margin-top: 30px;
}

.infotext4 {
    margin: 0 auto;
}

.SLogin {
    text-decoration: none;
    color: black;
}