.category-container {
  display: flex;
  justify-content: center;
  margin: 1rem;
}

.category-button {
  font-size: 1rem;
  font-weight: 500;
  color: #000;
  background-color: #f9f5f5;
  border: none;
  padding: 0.5rem 1rem;
  margin: 0 0.5rem;
  border-radius: 10px;
  cursor: pointer;
  transition: background-color 0.2s ease-in-out;
  font-size: 1.3em;
}

.category-button:hover,
.category-button.active {
  background-color: #105ff1;
  color: #f9f5f5;
}

.post-inputwrap {
  width: 75%;
  height: 100%;
  margin: 2rem auto;
  font-size: 1.3em;
}

.title-input {
  width: 100%;
  height: 40px;
  margin-bottom: 1rem;
  padding: 0.5rem;
  border: 1px solid #ccc;
  border-radius: 4px;

}

.content-textarea {
  width: 100%;
  height: 200px;
  margin-bottom: 1rem;
  padding: 0.5rem;
  border: 1px solid #ccc;
  border-radius: 4px;

}

.submit-button {
  font-weight: 500;
  color: #000;
  background-color: #f9f5f5;
  border: none;
  padding: 0.5rem 1rem;
  margin: 1rem;
  border-radius: 10px;
  cursor: pointer;
  transition: background-color 0.2s ease-in-out;

}
.submit-button:hover {
  background-color: #105ff1;
  color: #f9f5f5;
  font-size: 1.3em;
}
.cancel-button {
  font-size: 1rem;
  font-weight: 500;
  color: #000;
  background-color: #f9f5f5;
  border: none;
  padding: 0.5rem 1rem;
  margin: 1rem;
  border-radius: 10px;
  cursor: pointer;
  transition: background-color 0.2s ease-in-out;
  font-size: 1.3em;
}
.cancel-button:hover {
  background-color: #e39393;
  color: #f9f5f5;
  font-size: 1.3em;
}
