/*  
가로길이
커스텀 버튼 속성
유효성검사 input size (server-side bootstrap input)
*/


.mainlayout{
    width:560px;
    height: 100%;
    margin:auto;
    padding-bottom:10px;
    border-radius:10px;
    border: 2px solid rgb(173, 166, 166);
    background-color: white;
    min-height:100vh;
   
    font-family: 'omyu_pretty';
}
@font-face {
  font-family: 'omyu_pretty';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2304-01@1.0/omyu_pretty.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
  
}

.content{
    padding:20px;
    padding-top:0;
    height:89%;
    padding-bottom: 100px;
    scroll-behavior: smooth;
    scroll-behavior: smooth;
   
}

body {
    background-color: rgb(240, 240, 240);
  
}
.btn-colour-1 {
    color: #f9f5f5;
    background-color: #407ef1;
    border:none;
    font-weight: bold;
    letter-spacing: 0.1em;
    height:3em;
    width:250px;
    border-radius: 10px;
    height: 50px;
    font-size:1.2em;
  }
  
  .btn-colour-1:hover {
    color: #ffffff;
    background-color: #105ff1;
    transition:0.5s;
    font-size:1.2em;
  }

  .btn-colour-2 {
    color: #f9f5f5;
    background-color: #407ef1;
    border:none;
    font-weight: bold;
    letter-spacing: 0.1em;
    height:3em;
    width:250px;
    border-radius: 10px;
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
    height: 50px;
    font-size:1.2em;
  }
  .btn-colour-2:disabled {
    pointer-events: none;
    background: grey;
    font-size:1.2em;
  }

  .containerbox {
    margin: 0 auto;
    display: flex;
  }
.box1 {
    margin-right: 0;
}
.box2 {
    background-color: #F6F6F6;
    width: 50px;
  }
  .box3 {
   
    margin-left: 0;
    margin-right: auto;
  }
  @media (max-width: 1006px) {
    .box1 {
        margin: 0 auto;
    }
    .box2 {
      display: none;
    }
    .box3 {
        display: none;
    }
  }