.navigationbar{
    display:flex;
    flex-direction: row;
    /* padding-top:15px; */
    width:560px;
    padding:10px 15px 10px 5px;
    border-bottom: 1px solid grey;
    z-Index: 100;
    position:"fixed";
}

.navigationbar p{
    display:inline-block;
    margin: 0 auto;
    margin-top:10px;
   font-size: 1.5rem;
}

.backicon {
    width: 50px;
    height: 50px;
    background: rgb(255, 255, 255);
    position: relative;
    z-index: 10;
}

.backbutton {
    margin-top: 10px;
    position: relative;
    background-color: white;
    border: none;
}

.bi-chevron-left{
    font-size: 30px;
    line-height: 30px;
}

.empty{
    margin-right:45px;
}